API DISTRIBUIDA

VITE_API_AUTH = 'https://gateway-project-votaciones-69yt.onrender.com/api/auth'
VITE_API_PROP = 'https://gateway-project-votaciones-69yt.onrender.com/api/prop'

API NGINX
VITE_API_AUTH = 'https://api-getaway-tagname.onrender.com/auth'
VITE_API_PROP = 'https://api-getaway-tagname.onrender.com/prop'